<!-- This is the footer for the application, providing copyright information -->
<html>
  <body>
    <nav class="navbar navbar-expand-sm bg-light">
      <div class="container">
        
      <div class="copyright">Copyright &copy; Nilantha' Project @ <%= new Date().getFullYear() %></div>
      </div>
    </nav>
  </body>
</html>