<!-- This is the footer for the application, providing copyright information -->
<html>
  <body>
    <nav class="navbar-expand-sm bg-light">
      <div class="ontainer clearfix">
              <div class="copyright">Copyright &copy; Nilantha's Project @ <%= new Date().getFullYear() %></div>
      
    </div>
    </nav>
  </body>
</html>
