<html>
  <head>
    <%- include('partials/header1.ejs') %>
  </head>
<body>
  
  <%- include ('partials/navbar2.ejs') %>
  
  
    <div class="container">
  <h2 style="color: red;">Members only page. </h2>
  <p style="color: #00f;">
    Welcome to a members only page. You are now logged in
  </p>
  <p style="color: #7fae5d;">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Donec euismod, nisl eget consectetur sagittis, nisl nunc
      euismod nisi, vitae bibendum nunc nisl euismod nisi.
      Donec euismod, nisl eget consectetur sagittis, nisl nunc
      euismod nisi, vitae bibendum nunc nisl euismod nisi.
      Donec euismod, nisl eget consectetur sagittis, nisl nunc
      euismod nisi, vitae bibendum nunc nisl euismod nisi.
      Donec euismod, nisl eget consectetur sagittis, nisl nunc
      euismod nisi, vitae bibendum nunc nisl euismod nisi.
  </p>
  </div>
</body>
</html>